/* color palette */
:root {
    --case: #bcbebb;
    --case-top-highlight: #f7ffff;
    --case-left-shadow: #b7b9b5;
    --case-left-shadow-dark: #959697;
    --case-right-shadow: #5f5956;
    --case-bottom-shadow: #968c7b;
    --case-bottom-dark-shadow: #574c41;
    --keyplate-back: #d1d3d2;
    --black-ink: #282829;
    --ink-red: #a54a2b;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--black-ink);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: black;
    height: 100vh;
    max-height: 100%;
}

.case {
    background-color: var(--case);
    border-radius: 5px;
    border-top: var(--case-top-highlight) solid 1px;
    border-left: var(--case-left-shadow-dark) solid 1px;
    border-right: var(--case-right-shadow) solid 1px;
    border-bottom: var(--case-bottom-shadow) solid 5px;
    margin: auto;

}

.back {
    width: 1180px;
    height: 570px;
}

.topcontrol {
    width: 1170px;
    height: 290px;
    margin: 5px;
    position: absolute;
}

.bottomcontrol {
    width: 1170px;
    height: 260px;
    top: 290px;
    margin: 5px;
    position: absolute;
    border-radius: 0px;
    border-left: var(--case-left-shadow-dark) solid 6px;
    border-top: var(--case-top-highlight) solid 1px;
    border-right: var(--case-right-shadow) solid 6px;
    border-bottom: var(--case-bottom-shadow) solid 6px;
}

.keyplate {
    width: 1138px;
    height: 233px;
    background-color: var(--keyplate-back);
    position: absolute;
    left: 11px;
    top: 11px;
    border: var(--black-ink) solid 1px;
    border-radius: 1px;
}

.topknobs {
    height: 120px;
    position: absolute;
    top: -6px;
    left: -6px;
    display: flex;
    flex-direction: row;
}

.logo-portion {
    width: 288.5px; 
    height: 100%;
    display: flex;
    flex-direction: column;
}

.input-block {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 10px;
}

.input {
    text-align: center;
    font-weight: bold;
}

.input p:first-of-type {
    font-size: 8px;
}

.roland-logo {
    font-size: 40px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.border {
    width: 3px;
    height: 90px;
    margin-top: 6px;
    border-radius: 2px;
    background-color: var(--black-ink);
}

.small-knob-portion {
    display: flex;
    flex-direction: row;
}

.small-knob-chunk {
    width: 85px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    margin: 6px 6px;
}

.small-knob-chunk:first-of-type {
    margin-left: 10px;
}

.small-knob-chunk:last-of-type {
    margin-right: 10px;
}

.knob {
    margin-left: 10px;
    margin-top: 10px;
    width: 65px;
    height: 65px;
    border: var(--case-bottom-shadow) 1px solid;
    border-left: var(--case-right-shadow) 1px solid;
    border-right: var(--case-left-shadow-dark) 1px solid;
    border-bottom: var(--case-top-highlight) 1px solid;
    border-radius: 50%;
    display: flex;
    overflow: clip;
}

.inset {
    margin-left: 2px;
    margin-top: 2px;
    width: 64px;
    height: 64px;
    background-color: var(--black-ink);
}

.knob-base {
    background-color: var(--case-left-shadow);
    border: 0;
    margin-left: -1px;
    width: 60px;
    height: 60px;
}